# Module 01: Introduction to Machine Learning

## Prerequisites

In [1]:
%%capture

# data management
# ! pip install -U pandas
# ! pip install -U numpy

# data visualization
# ! pip install -U matplotlib
# ! pip install -U plotnine

# modeling
# ! pip install -U scikit-learn

In [2]:
import pandas as pd
import sklearn

sklearn.__version__

'1.0.2'

## Boston housing

In [3]:
# access data

boston = pd.read_csv("../../00-data/ML/boston.csv")
# boston = pd.read_csv("../data/boston.csv")

# initial dimensions
boston.shape

(506, 16)

In [4]:
# features
boston.drop("cmedv", axis=1).head()

,lon,lat,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,-70.955,42.2550,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,-70.950,42.2875,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,-70.936,42.2830,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,-70.928,42.2930,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,-70.922,42.2980,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [5]:
# response variable
boston["cmedv"].head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: cmedv, dtype: float64

## Pima Indians Diabetes

In [6]:
# access data
pima = pd.read_csv("../../00-data/ML/pima.csv")

# initial dimensions
pima.shape

(768, 9)

In [7]:
# features
pima.drop("diabetes", axis=1).head()

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age
0         6      148        72       35        0  33.6     0.627   50
1         1       85        66       29        0  26.6     0.351   31
2         8      183        64        0        0  23.3     0.672   32
3         1       89        66       23       94  28.1     0.167   21
4         0      137        40       35      168  43.1     2.288   33

In [8]:
# response variable
pima["diabetes"].head()

0    pos
1    neg
2    pos
3    neg
4    pos
Name: diabetes, dtype: object

## Iris flowers

In [9]:
# access data
iris = pd.read_csv("../../00-data/ML/iris.csv")

# initial dimensions
iris.shape

(150, 5)

In [10]:
# features
iris.drop("Species", axis=1).head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [11]:
# response variable
iris["Species"].head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

## Ames housing

In [12]:
# access data
ames = pd.read_csv("../../00-data/ML/ames.csv")

# initial dimensions
ames.shape

(2930, 81)

In [13]:
# features
ames.drop("Sale_Price", axis=1).head()

,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,Utilities,Lot_Config,...,Pool_QC,Fence,Misc_Feature,Misc_Val,Mo_Sold,Year_Sold,Sale_Type,Sale_Condition,Longitude,Latitude
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141,31770,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Pool,No_Fence,None,0,5,2010,WD,Normal,-93.619754,42.054035
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80,11622,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Pool,Minimum_Privacy,None,0,6,2010,WD,Normal,-93.619756,42.053014
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81,14267,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Pool,No_Fence,Gar2,12500,6,2010,WD,Normal,-93.619387,42.052659
3,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,93,11160,Pave,No_Alley_Access,Regular,Lvl,AllPub,Corner,...,No_Pool,No_Fence,None,0,4,2010,WD,Normal,-93.617320,42.051245
4,Two_Story_1946_and_Newer,Residential_Low_Density,74,13830,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Inside,...,No_Pool,Minimum_Privacy,None,0,3,2010,WD,Normal,-93.638933,42.060899

In [14]:
# response variable
ames["Sale_Price"].head()

0    215000
1    105000
2    172000
3    244000
4    189900
Name: Sale_Price, dtype: int64

## Attrition

In [15]:
# access data
attrition = pd.read_csv("../../00-data/ML/attrition.csv")

# initial dimensions
attrition.shape

(1470, 31)

In [16]:
# features
attrition.drop("Attrition", axis=1).head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,1102,Sales,1,College,Life_Sciences,Medium,Female,94,...,Excellent,Low,0,8,0,Bad,6,4,0,5
1,49,Travel_Frequently,279,Research_Development,8,Below_College,Life_Sciences,High,Male,61,...,Outstanding,Very_High,1,10,3,Better,10,7,1,7
2,37,Travel_Rarely,1373,Research_Development,2,College,Other,Very_High,Male,92,...,Excellent,Medium,0,7,3,Better,0,0,0,0
3,33,Travel_Frequently,1392,Research_Development,3,Master,Life_Sciences,Very_High,Female,56,...,Excellent,High,0,8,3,Better,8,7,3,0
4,27,Travel_Rarely,591,Research_Development,2,Below_College,Medical,Low,Male,40,...,Excellent,Very_High,1,6,3,Better,2,2,2,2

In [17]:
# response variable
attrition["Attrition"].head()

0    Yes
1     No
2    Yes
3     No
4     No
Name: Attrition, dtype: object

## Exercises

1. Identify four real-life applications of supervised and unsupervised problems.
   - Explain what makes these problems supervised versus unsupervised.
   - For each problem identify the target variable (if applicable) and potential
     features.

2. Identify and contrast a regression problem with a classification problem.
   - What is the target variable in each problem and why would being able to
     accurately predict this target be beneficial to society?
   - What are potential features and where could you collect this information?
   - What is determining if the problem is a regression or a classification
     problem?

3. Identify three open source data sets suitable for machine learning (e.g.,
   https://bit.ly/35wKu5c).
   - Explain the type of machine learning models that could be constructed from
     the data (e.g., supervised versus unsupervised and regression versus
     classification).
   - What are the dimensions of the data?
   - Is there a code book that explains who collected the data, why it was
     originally collected, and what each variable represents?
   - If the data set is suitable for supervised learning, which variable(s) could
     be considered as a useful target? Which variable(s) could be considered as
     features?

4. Identify examples of misuse of machine learning in society. What was the
   ethical concern?